section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    max-height: 300px;
}

button img{
    width: 100px;
}

.basket-content{
    display: flex;
    flex-direction: column;
}