@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Marcellus&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  --background-color: white;
  --text-color: black;
}

main, nav {
  background-color: var(--background-color);
  color: var(--text-color);
}

main.dark{
  --background-color: hsl(216, 11%, 9%);
  --text-color: white;
}

nav.dark {
  --background-color: #353a41;
  --text-color: white;
}

.montserrat-heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

.montserrat-body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  /* Regular */
  font-style: normal;
}
body{
  min-height: 100vh;
}